<!-- the main image -->  
      
<!-- add ng-click to trigger $scope.back on the button-->
<button class="btn back-btn" >Back</button>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
    
      
    
</ul>
@@@
prompt: Let's use the event handler
run: {command: "undo"}
run: {command: "undo"}
run: {command: "undo"}
run: {command: "undo"}
moveTo: 1:0
type: <img ng-src="{{mainImageUrl}}" class="phone">
tooltip: {text: "the main image of phone, default is the first one"}
moveTo: 10:2
type: <li ng-repeat="img in phone.images">
tooltip: {text: "use ngRepeat to show all images of a phone in list element, img is a variable contains the url for each image", wait: 6000}
moveTo: 11:4
type: <img ng-src="{{img}}" ng-click="setImage(img)">
tooltip: {text: "use ngSrc to get the actual url from img. Attach a ng-click event to the setImage(img) method. When it is triggered, the mainImageUrl will be this img, and the main image will change to this one", wait: 8000}
moveTo: 12:2
type: </li>